
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<center><button class="btn btn-primary" data-toggle="modal" data-target="#Modal2">Bilgi Penceresini Aç</button></center>
<div class="modal" id="Modal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    Yardım ve Bilgilendirme
                </div>
                <div class="modal-body">
                    Bu proje 2024 yılında Anıl Altun tarafından kodlanmıştır.
                </div>
            </div>
        </div>
    </div>
</div>

